<div class="container" ng-controller="acciones">
	<div class="jumbotron">
		<div class="page-header">
			<h1>Logueate en la app</h1>
		</div>
		<div class="row">
			<form ng-submit="login()">
				<label class="label label-lg label-info">Username</label>
				<input type="text" ng-model="username">
				<label class="label label-lg label-info">Password</label>
				<input type="password" ng-model="password">
				<button type="submit" class="btn btn-lg btn-success" value="">Entrar</button>
			</form>
		</div>
	</div>
</div>