<div class="container" ng-controller="listado" >
	
	<div class="page-header" ng-repeat="post in posts">
		<h1>{{post.titulo}}</h1>
			<h3>{{post.autor}}</h3>
	</div>
	<div class="row">
		<p>{{post.contenido}}</p>
	</div>
</div>